{% extends 'AdminBundle/views/BaseAdminDashboard.html.twig' %}

{% block stylesheet %}



    <link rel="stylesheet" href="{{ asset('adminbundle/bower_components/bootstrap/dist/css/bootstrap.min.css')}}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('adminbundle/bower_components/font-awesome/css/font-awesome.min.css')}}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ asset('adminbundle/bower_components/Ionicons/css/ionicons.min.css')}}">
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('adminbundle/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css')}}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('adminbundle/dist/css/AdminLTE.min.css')}}">
    <link rel="stylesheet" href="{{ asset('adminbundle/dist/css/skins/_all-skins.min.css')}}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


{% endblock %}







{% block body %}
    <h1>Interet edit</h1>

    {{ form_start(edit_form) }}

        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('admin_interet_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}







{% block javascript %}

<script src="{{ asset('adminbundle/bower_components/datatables.net/js/jquery.dataTables.min.js')}}"></script>
<script src="{{ asset('adminbundle/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>


<!-- page script -->
<script>
    $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({

        })
    })
</script>

{% endblock %}
