{% extends 'AdminBundle/views/BaseAdminDashboard.html.twig' %}

{% block body %}
    <h1>Interet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ interet.id }}</td>
            </tr>
            <tr>
                <th>Heading</th>
                <td>{{ interet.heading }}</td>
            </tr>
            <tr>
                <th>Desciption</th>
                <td>{{ interet.desciption }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if interet.createdAt %}{{ interet.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>




            {{ form_start(delete_form) }}




    <div class="w3-show-inline-block">
        <div class="w3-bar">

            <a type="submit"  class="btn btn-primary" href="{{ path('admin_interet_edit',
                { 'id': interet.id }) }}">Edit</a>
            <input type="submit"  class="btn btn-danger" value="Delete ">
        </div>
    </div>
    {{ form_end(delete_form) }}

{% endblock %}
